@import "tailwindcss";

:root {
  --background: #131010;
}

@theme inline {
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

body {
  background-color: var(--background);
}
